/* Fuente solo para el componente */
.wrapper_testimonial {
  --font: "Poppins", sans-serif;
  font-family: var(--font);

  margin: 0 auto; 
  max-width: 1100px;
  width: 100%;
  position: relative;
}

/* Botones */
.wrapper_testimonial i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;

  font-size: 1.25rem;
  cursor: pointer;

  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);

  transition: transform 0.1s linear;
  z-index: 50;
}

.wrapper_testimonial i:active {
  transform: translateY(-50%) scale(0.85);
}

.wrapper_testimonial i:first-child {
  left: -22px;
}

.wrapper_testimonial i:last-child {
  right: -22px;
}

/* Carrusel */
.wrapper_testimonial .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 10px); 
  gap: 16px;

  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  border-radius: 8px;
  scrollbar-width: none;
}

/* Sin scroll visible */
.wrapper_testimonial .carousel::-webkit-scrollbar {
  display: none;
}

/* Estados del carrusel */
.wrapper_testimonial .carousel.no-transition {
  scroll-behavior: auto;
}

.wrapper_testimonial .carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.wrapper_testimonial .carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

/* Cards */
.wrapper_testimonial .carousel .card {
  
  height: 260px;
  padding: 0;          /* ← Cambiar aquí */
  background: #4020b7;
  border-radius: 8px;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: transform 0.3s ease;
  transform: scale(0.85);
}

/* Card activa */
.wrapper_testimonial .carousel .card.active {
  transform: scale(1);
  z-index: 10;
}

/* Imagen circular */
.wrapper_testimonial .card .img {
   width: 100%;          /* ocupa todo el ancho */
  height: 100%;         /* ocupa 60% del alto de la tarjeta */
  border-radius: 0;     /* sin forma circular */
  overflow: hidden;     /* recorta excedentes */

  background: #8B53FF;

  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper_testimonial .card .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;     /* imagen se adapta sin deformarse */
  border-radius: 0;
  border: none;
}

/* Texto */
.wrapper_testimonial .carousel .card h2 {
  font-family: var(--font);
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}

.wrapper_testimonial .carousel .card span {
  font-family: var(--font);
  font-size: 1.31rem;
  color: #6A6D78;
}

/* Responsivo */
@media screen and (max-width: 900px) {
  .wrapper_testimonial .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper_testimonial .carousel {
    grid-auto-columns: 100%;
  }
}