.svs-title {
  font-size: 2rem;
  font-weight: 600;
  font-family: "Urbanist", sans-serif;
  color: #004283;
  text-align: left;
  padding-top: 5vw;
  padding-left: 3vw;
  margin-bottom: 30px;
  padding-top: 10px;
}