/* Barra superior */
.top-info {
  background: #ffffff;
  color: #004283;
  font-size: 1.05rem;
  padding: 4px 0;
  text-align: right;
  padding-left: 30px;
  padding-right: 30px;
}

/* Navbar */

#navMenu {
  flex: 1; /* ocupa todo el espacio disponible a la derecha del logo */
}

.navbar-nav {
  justify-content: space-between; /* separa horizontalmente */
  width: 53%; /* ocupa todo el ancho disponible */
}

.navbar {
  background: #ffffff;
  border-bottom: 1px solid #e5e5e5;
  flex: 1;
  justify-content: space-evenly;
}

.navbar .container-fluid {
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-brand img {
  border-radius: 0px;
}

.navbar-brand {
  margin-right: 40px; /* ajusta según lo necesites */
}

/* Igualar tamaño de todos los enlaces */
.nav-link {
  font-weight: 500;
  font-size: 1.19rem;
  color: #004283 !important;
  padding: 6px 16px;
  border-radius: 6px;
  transition: 0.2s ease;
  display: flex;               /* convierte todos los items en cajas */
  align-items: center;         /* centra texto/icono */
  height: 45px;                /* alto fijo para todos */
}

/* Hover uniforme */
.nav-link:hover {
  background: #DEE8F3;
  color: #004283 !important;
}

.navbar-nav .nav-item i {
  font-size: 1.3rem;
}

/* Sombra suave */
.shadow-soft {
  box-shadow: 0 3px 12px rgba(255, 0, 0, 0.08);
}

.navbar-toggler {
  border-color: #004283; /* borde opcional */
}

/* Icono personalizado (Hamburguesa) */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,66,131,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Estilo al hacer foco o activar el botón */
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none !important;
  box-shadow: 0 0 0 3px rgba(0,66,131,0.4) !important; /* color del halo */
  border-color: #004283 !important; /* color del borde */
}

@media (max-width: 991.98px) {
  #navMenu {
    flex: 0 0 100% !important;  /* deja de ocupar todo el espacio y baja debajo del logo */
  }
}


.qs-title {
  font-size: 2.7rem;
  font-weight: 600;
  font-family: "Work Sans", sans-serif;
  color: #004283;

  width: 50%;          /* ocupa la mitad izquierda del contenedor */
  text-align: center;  /* centrado dentro de esa mitad */
  margin-left: 0;      /* pegado al lado izquierdo */
  padding-top: 10px;
  margin-bottom: 30px;
}

.qs-wrapper {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

.qs-left,
.qs-right {
  flex: 1;
}

/* Logo centrado */
.qs-logo {
  display: block;
  margin: 0 auto;
  max-width: 180px;
}

/* Texto centrado debajo del logo */
.qs-text {
  text-align: center;
  margin-top: 20px;
  font-size: 1rem;
  line-height: 1.4;
}

/* Imagen de familia */
.qs-family {
  width: 100%;
  border-radius: 12px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}