<!-- Título -->
    <div class="abt-title">¿Quiénes somos?</div>

    <!-- Contenedor principal -->
    <div class="abt-wrapper">
      <!-- Lado izquierdo -->
      <div class="abt-left">
        <div class="abt-logo-wrapper">
          <img src="img/logo.png" class="abt-logo" alt="Logo" />
        </div>
        

        <p class="abt-text">
          Somos una empresa que tiene como misión el generar una opción justa
          para adquirir un automóvil con posibilidades que se ajusten al
          cliente.
        </p>
        <p class="abt-text">Su seguridad y confianza es nuestra prioridad.</p>
        <p class="abt-text">
          Nos enorgullece ofrecerte soluciones flexibles para que puedas
          estrenar un automóvil o una motocicleta del año, o si lo prefieres un
          seminuevo certificado y garantizado.
        </p>
      </div>

      <!-- Lado derecho -->
      <div class="abt-right">
        <div class="img-box">
          <img
          src="img/prestamo-vehicular.jpg"
          class="abt-family"
          alt="Familia feliz"
        />
        </div>
      </div>
    </div>