<div class="svs-title">Nuestros servicios</div>

<!--====== CARD PART START ======-->
<section class="card-area pb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-7 col-sm-9">
        <div class="single-card card-style-one">
          <div class="card-content">
            <h4 class="card-title">
              <i class="fa-solid fa-car icon-card"></i
              ><a href="javascript:void(0)">Plan Auto</a>
            </h4>
            <p class="text">
              Tu auto nuevo a seminuevo a tu alcance con atractivas opciones de
              crédito que tenemos para ti.
            </p>
          </div>
          <div class="card-image">
            <img src="img/services_home-01.png" alt="Image" />
          </div>
        </div>
        <!-- single-card -->
        <div class="text-center mt-3 btn-services">
          <a href="#" class="btn btn-primary">Más información</a>
        </div>
      </div>
      <!-- col -->
      <div class="col-lg-4 col-md-7 col-sm-9">
        <div class="single-card card-style-one">
          <div class="card-content">
            <h4 class="card-title">
              <i class="fa-solid fa-motorcycle icon-card"></i
              ><a href="javascript:void(0)">Plan Moto</a>
            </h4>
            <div class="alignment-service">
              <p class="text">
                Si lo tuyo es andar sobre 2 ruedas, este plan es perfecto y
                accesible.
              </p>
            </div>
          </div>
          <div class="card-image">
            <img src="img/services_home-02.png" alt="Image" />
          </div>
        </div>
        <!-- single-card -->
        <div class="text-center mt-3 btn-services">
          <a href="#" class="btn btn-primary">Más información</a>
        </div>
      </div>
      <!-- col -->
      <div class="col-lg-4 col-md-7 col-sm-9">
        <div class="single-card card-style-one">
          <div class="card-content">
            <h4 class="card-title">
              <i class="fa-solid fa-house icon-card"></i
              ><a href="javascript:void(0)">Plan Liquidez</a>
            </h4>
            <p class="text">
              Comienza a formar tu patrimonio con nosotros. La cas, negocio o
              emprendimiento ahora es posible.
            </p>
          </div>
          <div class="card-image">
            <img src="img/services_home-03.png" alt="Image" />
          </div>
        </div>
        <!-- single-card -->
        <div class="text-center mt-3 btn-services">
          <a href="#" class="btn btn-primary">Más información</a>
        </div>
      </div>
      <!-- col -->
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>
<!--====== CARD PART ENDS ======-->
